
.information-text {
	height: 960px;
	overflow: hidden;
	position: relative;
	margin-bottom: 47px;
}
.information-text .btn2 {
	position: absolute;
	bottom: 0;
	left:0;
	box-shadow: 0px -32px 30px 31px #ffe5cc;
}
.department {
	background-color: #005b7f;
}
.department__menu-list {
	display: inline-block;
	padding: 50px 0;
}
.department__menu-list li {
	float: left;
	margin: 1px;
}
.department__menu-list a {
	padding: 10px 15px;
	display: block;
	color:#fff;
}
.department__menu-list a:hover {
	text-decoration: none;
}
.department__menu-list span {
	text-transform: uppercase;
    font-family: 'ubuntu_condensed';
	border-bottom: 1px dashed rgba(255, 255, 255, 0.5);	
}
.department__menu-active {
	background-color: #c8515e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.department__teacher-list li {
	float: left;
	width: 25%;
}
.department__teacher-list a {
	display: block;
	height: 446px;
	background-color: #943b46;
	position: relative;
	overflow: hidden;
}
.department__teacher-list a:hover .department__teacher-title {
	height: 100%;
	background-color: rgba(38, 117, 146, 0.83);
}
.row-new {
	margin-left: -85px;
	margin-right: -85px;
}
.department__teacher-title {
	position: absolute;
	bottom: 0;
	height: 126px;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.department__teacher-post {
    font-family: 'ubuntu';
    font-weight: 300;
    color:#fff;
}
.department__teacher-name {
	font-size: 24px;
	line-height: 30px;
	margin-top: 8px;
	padding-bottom: 13px;
	color:#fff;
    font-family: 'ubuntu_condensed';
}
.department__teacher-list p {
	color:#fff;
    font-family: 'ubuntu';
    font-weight: 300;
    line-height: 26px;
}
.department__groups-list li {
	float: left;
	width: 33.33333%;
}
.department__groups-list a {
	display: block;
	background: url(../images/img-bg.png) no-repeat center 20px #c8515e;
}
.department__groups-list a:hover {
	text-decoration: none;
	color:#fff;
}
.department__groups-list a:hover .groups__txt-block {
	background-color: #e05a69;
}
.groups__img-block {
	height: 300px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.groups__txt-block {
	height: 128px;
	padding: 15px;
}
.groups__txt-block p {
	margin: 0;
	color:#fff;
    font-family: 'ubuntu_condensed';
    font-size: 24px;
    line-height: 30px;
}
.group-in {
	background-color: #00374d;
	display: none;
}
.group-in__img-left {
	margin-left: -120px;
	float: left;
	margin-right: 30px;
}
article.group-in p {
	color:#fff;
}
article.group-in h2 {
	color:#fff;
}
.group-in__name-teacher {
	color:#fff;
}
.group-in h4 {
	color:#fff;
	margin-top: -6px;
}
.group-in p {
	font-weight: 300;
	line-height: 24px;
	margin: 30px 0;
}
.department__groups {
	display: none;
}
.department__groups--list-in {
	display: block;
	padding: 30px 0 50px;
}
.group-in__close {
	background: url(../images/close.png) no-repeat;
	width: 34px;
	height: 34px;
	display: inline-block;
	cursor: pointer;
	margin-top: 70px;
}
.tabs-all {
	padding-bottom: 60px;
}
.department__kinder--name {
	height: 100px;
}
.filter-date li {
	float: left;
}
.filter-date {
	margin-left: 15px;
	padding-bottom: 30px;
}
.filter-date a {
	color:#333;
	font-size: 16px;
    font-family: 'ubuntu_condensed';
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}
.filter-date a:hover {
	text-decoration: none;
}
.filter-date__active {
	background-color: #c8515e;
    padding: 10px 15px;
    border:none !important;
	color:#fff !important;
	margin: 0 !important;
}
.textnews-page .desc-big {
	margin-top: -5px;
	margin-bottom: 10px;
}
.text_author-date {
	font-weight: 300;
}
.news-in p {
	font-weight: 300;
}
.news-in {
	padding: 40px 0;
}
.news-in-photo__update-date {
	font-weight: 300;
	font-style: italic;
}
.news-all-page .col-xs-5:nth-child(odd) {
	margin-left: 0;
}
.news-all-page a {
	color:#267592;
	font-weight: bold;
	font-size: 18px;
}
.news-all-page__date {
	font-weight: 300;
	margin-top: -5px;
	margin-bottom: 23px;
}
.news-all-page {
	padding-bottom: 40px;
}
.photo-video {
	padding-top: 50px;
	font-family: 'ubuntu_condensed', sans-serif;
}
.photo-video__main-filter span {
	border-bottom: 1px dashed rgba(255,255,255, 0.3);	
}
.photo-video__main-filter li {
	float: left;
}
.photo-video__main-filter a {
	display: inline-block;
	padding: 10px 15px;
	color:#fff;
	border:1px solid #fff;
	text-transform: uppercase;
}
.photo-video__main-filter a:hover {
	text-decoration: none;
}
.photo-video__main-filter li:first-child a {
	border-right: none;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.photo-video__main-filter li:last-child a {
	border-left: none;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.photo-video__mfilter-active {
	background-color: #c8515e;
	border:1px solid #c8515e !important;
}
.photo-video__mfilter-active span {
	border: none;
}
.photo-video__filter-cat {
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #fff;
}
.photo-video__filter-cat li {
	float: left;
}
.photo-video__filter-cat a {
	display: inline-block;
	margin: 13px 10px;
	text-transform: uppercase;
	color:#fff;
	border-bottom: 1px dashed rgba(255,255,255, 0.3);
	line-height: 16px;
}
.photo-video__filter-cat a:hover {
	text-decoration: none;
}
.photo-video__filter-cat-active {
	background-color: #c8515e;
	margin: 0 !important;
	padding: 13px 10px;
	border:none !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.photo-video__filter {
	padding-bottom: 15px;
}
.photo-video__filter-years {
	padding-bottom: 30px;
}
.photo-video__filter-years ul {
	border-top: 1px solid #e4f2f5;
	border-bottom: 1px solid #e4f2f5;
}
.photo-video__filter-years a {
	color:#fff;
	margin: 20px 17px;
	text-transform: uppercase;
	border-bottom: 1px dashed rgba(255,255,255, 0.3);
	display: inline-block;
}
.photo-video__filter-years li {
	float: left;
}
.photo-video__filter-years a:hover {
	text-decoration: none;
}
.photo-video__years-active {
	padding: 20px 17px;
	background-color: #fff;
	color: #005b7f !important;
	margin: 0 !important;
}
.albums {
	font-family: 'ubuntu_condensed', sans-serif;
}
.albums p {
	color:#fff;
	margin: 0;
	border-bottom: 1px solid #80969f;
	display: inline;
}
.albums a {
	display: block;
	margin-bottom: 30px;
}
.albums a:hover {
	text-decoration: none;
}
.albums a:hover .album__img-text {
	background-color: #fff;
}
.albums a:hover .album__img-text p {
	border:none;
	color: #267592;
}
.albums a:hover .albums__hover-block {
	display: block;
}
.album__img-block {
	position: relative;
	height: 205px;
	width: 100%;
	overflow: hidden;
	background-color: #c8515e;
}
.album__img-text {
	padding: 12px 15px 15px;
	background-color: #002d3f;
}
.albums__hover-block {
	position: absolute;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	display: none;
}
.albums__hover-block div {
	text-align: center;
	color:#fff;
	font-family: 'ubuntu_condensed', sans-serif;
}
.albums__value-number {
	font-size: 36px;
	line-height: 30px;
	margin-top: 80px;
}
.albums-items {
	background-color: #005b7f;
}
.albums h2 {
	color:#fff;
	margin-top: 0;
}
.album__back {
	text-transform: uppercase;
	display: inline-block !important;
	line-height: 20px;
	margin-bottom:100px !important;
	color:#fff;
	border-bottom: 1px dashed rgba(255,255,255, 0.3);
}
.album__back:hover {
	color:#fff;
}
.video {
	padding-top: 20px;
}
.video__img-block {
	height: 224px;
}
#cboxOverlay {
	background-color: #000;
}
#cboxClose {
	background-position: 0;
	width: 34px !important;
	height: 34px !important;
	right: -50px;
	top: -5px;
}
#cboxContent {
	border:6px solid #fff;
}
#colorbox, #cboxOverlay, #cboxWrapper {
	overflow: visible;
}
#cboxClose:hover {
	background-position: 0;
}
.department2-page .information-text {
	height: auto;
}
.news__list {
	display: block;
	min-width: 1120px;
	max-width: 1700px;
	margin: 0 auto;
}
.news {
	font-family: 'ubuntu_condensed', sans-serif;	
}
.news__list li {
	float: left;
	width: 16.66666666666667%;
	height: auto;
}
.news__list a {
	position: relative;
	display: block;
	overflow: hidden;
}
.news__hover-block {
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(29, 87, 109, 0.3);
	-webkit-transition: background-color 0.2s ease-out 0s;
	-moz-transition: background-color 0.2s ease-out 0s;
	-o-transition: background-color 0.2s ease-out 0s;
	transition: background-color 0.2s ease-out 0s;
}
.news__date-wrap > div {
	color:#fff;
	display: inline-block;
}
.news__date-value {
	padding-top: 8.11%;
	font-size: 36px;
	line-height: 28px;
	display: block !important;
	text-align: center;
}
.news__date-month {
	position: relative;
	font-size: 12px;
}
.news__date-month:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 8px;
	left:0;
	top:18px;
	background-color: #fff;
}
.news__list h4 {
	margin-top: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	line-height: 24px;
	font-size: 20px;
	color:#fff;
	padding: 0 15px;
}
.news__list p {
	position: absolute;
	margin-top: 0;
	top:100%;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;
	padding: 0 15px;
}
.news__text-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.news__text-info-wrap {
	position: relative;
}
.news__list a:hover span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);	
}
.news__list a:hover .news__text-info {
	height: 45%;
}
.contest {
	display: none;
	padding-bottom: 200px !important;
}
.poster {
	display: none;
	padding-bottom: 200px !important;
}
.poster p {
	line-height: 30px;
}
.contest__list a {
	min-height: 420px;
}
.contest li:nth-child(odd) a {
	background-color: #bbbaaf;
}
.poster__list a {
	min-height: 529px;
	background: url(../images/img-bg.png) no-repeat center #c0bdb2;
}
.news__hover-all:hover a .news__hover-block {
	background-color: rgba(29, 87, 109, 0);		
}
.news__list a:hover .news__hover-block  {
	background-color: rgba(0, 91, 127, 1);	
}
.poster__red-bg {
	background-color:#c8515e !important;
}
.poster__blue-bg {
	background-color:#1d576d !important;
}
.news-page .tabs-all {
	padding: 0;
}
.poster__list li {
		width: 33.333334% !important;
}
.news-hidden{
	display: none;
}
.slider_wrap{
	position: relative;
	overflow: hidden;
	height:585px;

}
.slider_item{
	width:100%;
	z-index: 1;
	transition: all 2s;

}
.blur{
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);


}
.blue_layer{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left:0;
	background: #1d576d;
	opacity: 0.7;
	z-index: 2;
}
.blue_line_layer{
	width: 100%;
	height:120px;
	position: absolute;
	top: 110px;
	left:0;
	background: rgba(0, 91, 127, 1);
	z-index: 3;
	transition: background 1s,top 0.5s;
	opacity: 0;
	transition: opacity 0.5s;

}
.ornament_layer{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left:0;
	background: url(../images/slider_content/ornament.png) repeat-x;
	background-position:0 -120px; 
	opacity: 1;
	z-index: 4;

}
.content_layer{
	width: 100%;
	height:120px;
	position: absolute;
	top: 110px;
	left:0;
	z-index: 5;
	transition:top 1.5s;
}
.content_layer .eye{
	position: relative;
    margin: 0 auto;
    width: 169px;
    height: 100px;
}
.content_layer .eye #first_eye_content{
	position: absolute;
	top: 0;
	left: 0;
	width: 170px;
	height:100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	transition: opacity 1s;
}
.content_layer .eye #first_eye_content a{
	color:#fff;
	text-transform: uppercase;
	font-family: ubuntu_condensed;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px dashed #4285a0;
}
.content_layer .eye #first_eye_content img{
	margin-bottom: 30px;
}
.content_layer .eye #second_eye_content{
	text-align: center;
	width: 170px;
	position: absolute;
	bottom:20px;
	left:0;
	opacity: 0;
	display: none;


}
.content_layer .eye #second_eye_content a{
	text-align: center;
	text-transform: uppercase;
	font-family: ubuntu_condensed;
	color:#fff;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px dashed #4285a0;
}
.content_layer_2{
	position: absolute;
	width:100%;
	top: 230px;
	height:415px;
	color:#fff;
	text-align: center;
	font-family: ubuntu_condensed;
	z-index: 5;
	transition: 0.5s;

}
.content_layer_2 .caption{
	font-size: 96px;

}
.content_layer_2 p{
	font-family: ubuntu;
	font-weight: 300;
}
.close{
	background:url(../images/slider_content/close.png) no-repeat center;
	height: 23px;
	width: 23px;
	display: inline-block;
	margin-bottom:30px;

}
#top_main_carousel{

	height:100%;

	margin: 0 auto;
}
#top_main_carousel .owl-item{
	opacity: 0;
	transition: opacity 0.5s;
}
#top_main_carousel .owl-item.center{
	opacity: 1;
}
#top_main_carousel_2 {
	opacity: 0;
	transition: opacity 0.5s;

}

#top_main_carousel_2 .slider_item{
	width:1108px;
}

#top_main_carousel_2 .owl-item.center{
	z-index: 1;
}
#top_main_carousel_2 .owl-item img{
	transition: opacity 0.5s;
	opacity: 0.5;
	border:1px solid #fff;

}
#top_main_carousel_2 .owl-item.center img{
	opacity: 0;

}
#top_main_carousel_2 .owl-item a{
	outline:none;
}
#prev{
	position: absolute;
	top: 260px;
    left: 60px;
	background: url(../images/slider_content/prev.png) no-repeat center;
	width: 13px;
	height: 23px;
	z-index: 3;
	cursor: pointer;
	display: none;
}
#next{
	position: absolute;
	top: 260px;
    right: 60px;
	background: url(../images/slider_content/next.png) no-repeat center;
	width: 13px;
	height: 23px;
	cursor: pointer;
	z-index: 3;
	cursor: pointer;
	display: none;
}


/*big_cat_part*/
.box{
	margin-top:50px;
	margin-bottom: 50px;
	padding-top: 60px;
	padding-bottom: 60px;
	color:#fff;
}
.box .title{
	color:#fff;
	font-size: 48px;
	font-family: ubuntu_condensed;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 4px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	text-decoration: none;

}
.box p{
	font-family: ubuntu;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
}
.blue_bg{
	background: #005b7f;
}
.red_brown_bg{
	background-color: #c8515e;

}
.white_bordered{
	border-bottom:1px solid #fff;
}
.big_cat_part{
	padding-bottom: 50px;
}
.big_cat_part a{
	color:#fff;
}
.big_cat_part_inner{
	width: 100%;
	padding: 35px 0;
	text-align: center;

}
.big_cat_part_inner:after{
	content: '';
	clear: both;
	display:block;
	margin: 0 auto;
	width: 65px;
	border-bottom:1px solid #fff;
	opacity: 1;
	transition: opacity 0.5s;
	position: relative;
	top: 30px;


}
.big_cat_part_inner:nth-last-child(1):after{
	display: none;
}
.big_cat_part_inner:hover:after{
	opacity:0;
}

.big_cat_part .big_cat_part_inner .big_cat_part_inner_item{
	display: inline-block;
	overflow: hidden;
	transition:height 1s;

}
.big_cat_part .big_cat_part_inner .big_cat_part_inner_item .caption{
	font-size: 48px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: ubuntu_condensed;
}
.big_cat_part .big_cat_part_inner .big_cat_part_inner_item .ornam{
	width: 100%;
	height:36px; 
	background: url(../images/slider_content/ornament_small.png) repeat-x center;
	background-position:0 0;
	margin-bottom:30px;
}
.big_cat_part .big_cat_part_inner .big_cat_part_inner_item .big_cat_part_menu{
	width: 354px;
	display: inline-block;
}
.big_cat_part .big_cat_part_inner .big_cat_part_inner_item .big_cat_part_menu li{
	display: block;
	width: 354px;
	padding:24px 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.big_cat_part .big_cat_part_inner .big_cat_part_inner_item .big_cat_part_menu li:hover{
	background-color: #fff;
}
.big_cat_part .big_cat_part_inner .big_cat_part_inner_item .big_cat_part_menu li:hover a{
	border-bottom: 1px solid rgba(255,255,255,1);
	color:#c8515e;
}
.big_cat_part .big_cat_part_inner .big_cat_part_inner_item p{
	color:#fff;
	font-size: 16px;
	font-family: ubuntu;
	font-weight: 300;
}

.big_cat_part .big_cat_part_inner .big_cat_part_inner_item .big_cat_part_menu li:nth-last-child(1){
	border-bottom: 0;
}
.big_cat_part .big_cat_part_inner .big_cat_part_inner_item .big_cat_part_menu li a{
	font-size: 16px;
	font-family: ubuntu;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
} 


/*big_cat_part*/



/* menu part */
#menu_wrap_lvl3_wrap{
	height: 0;
	overflow: hidden;
	transition:height 1s;
}



/*menu part/





/*media*/
@media (max-width: 1600px) {
	.news__list li {
		width: 25%;
	}
	.contest__list li {
		width: 33.333334%;
	}
}